@use './../App.scss';

#DashboardPage{
    @include App.fullscreen;
    @include App.flexcolstart;
    background-color:#545F7D0D; box-sizing:border-box; overflow:hidden;
}

#DashboardBottom{
    @include App.flexrowstart; width:100%; height:100%; 
    overflow:hidden; box-sizing:border-box;
}

#DashboardBody{
    @include App.flexcolstart; border:1px red solid;
    box-sizing:border-box; width:100%; height:100%; overflow-y:auto; overflow-x:hidden;
}